@import './reset.scss';
@import './fonts.scss';
@import './vars.scss';
@import './mixins.scss';
/*--------------------------------------------html,body-----------------------------------*/
html, body{
    height: 100%;
    scroll-behavior: smooth;
}
body{
    font-family: "Lato";
    background-color: $--body-bg-color;
    font-weight: 400;
}
body._lock{
    overflow: hidden;
}
/*--------------------------------------------wrapper-------------------------------------*/
.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
/*--------------------------------------------container-----------------------------------*/
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.page {
    flex: 1 1 auto;
}

